<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Dog Dairy Entry</h1>
        <p>add a diary to your dog's life</p>
    </div>

    <form method="post" action="/processform">
      Title: <input type="text" name="title">
      <br>
      <br>
      Highlight: <input type="text" name="highlight">
      <br>
      <br>
      Detail: <input type="text" name="detail">
      <br>
      <br>
      <input type="submit" value="submit" class="btn btn-primary">
    </form>

    <form method="post" action="/forumDelete">
      <ol>
        <% for(i = 0; i<recipe.length; i++){  %>
            <li>
                  <b> Name:<%= forumPost[i].name %> </b>
                      user: <%= forumPost[i].userName %>   <br>
                      Created At:<%= forumPost[i].createdAt %>   <br>
                      Title:<%= forumPost[i].Title %>    <br>
                  <i> Highlight:<%= forumPost[i].highlight %>    </i>
                  <% if (forumPost[i].userName.equals(user.Name)) { %>
                      <input type="checkbox" name="delete" value="<%= recipe[i]._id %>">
                  <% } %>
            </li>
        <% } %>
        </ol>
        <input type="submit" value="delete marked">
      </form>

<%- include('bootfooter') -%>
