<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
    <h1>Diary Entry</h1>
</div>


<form method="post" action="/processRecipe">
  Title: <textarea type="text" name="name" rows="2" cols="50"></textarea>
      <br>
      <br>
      Highlight: <textarea type="text" name="ingredient" rows="5" cols="50"></textarea>
      <br>
      <br>
      Details: <textarea type="text" name="description" rows="5" cols="80"></textarea>
      <br>
      <br>
      <input type="submit" value="submit" class="btn btn-primary">
    </form>

    <form method="post" action="/recipeDelete">
      <ol>
        <% for(i = 0; i<recipes.length; i++){  %>
          user is: <%=user._id%>
            <li>
                  <b> Title:<%= recipes[i].name %> </b>
                      user: <%= recipes[i].userName %>   <br>
                      Created At:<%= recipes[i].createdAt %>   <br>
                      Highlight:<%= recipes[i].ingredient %>    <br>
                  <i> Details:<%= recipes[i].description %>    </i>
                  <% if (recipes[i].userID.equals(user._id)) { %>
                      <input type="checkbox" name="delete" value="<%= recipes[i]._id %>">
                  <% } %>
            </li>
        <% } %>
        </ol>
        <input type="submit" value="delete marked">
      </form>

<%- include('bootfooter') -%>
