<%- include('bootheader') -%>

    <form method="post" action="/processRecipe">
      Name: <input type="text" name="name">
      <br>
      <br>
      Ingredient: <input type="text" name="ingredient">
      <br>
      <br>
      Description: <input type="text" name="description">
      <br>
      <br>
      <input type="submit" value="submit" class="btn btn-primary">
    </form>

    <form method="post" action="/recipeDelete">
      <ol>
        <% for(i = 0; i<recipe.length; i++){  %>
            <li>
                  <b> Name:<%= recipe[i].name %> </b>
                      user: <%= recipe[i].userName %>   <br>
                      Created At:<%= recipe[i].createdAt %>   <br>
                      ingredient:<%= recipe[i].ingredient %>    <br>
                  <i> description:<%= recipe[i].description %>    </i>
                  <% if (recipe[i].userName.equals(user.Name)) { %>
                      <input type="checkbox" name="delete" value="<%= recipe[i]._id %>">
                  <% } %>
            </li>
        <% } %>
        </ol>
        <input type="submit" value="delete marked">
      </form>

<%- include('bootfooter') -%>
